In [84]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [85]:

import pandas as pd

# Link

In [86]:
df_wiki = pd.read_csv('newspaper_metadata/british_isles_gazetteer.csv')
df_wiki['english_label_lower'] = df_wiki.english_label.str.lower()
df_wiki['description_set_str'] = df_wiki.description_set.apply(lambda x: ' '.join(eval(x)).lower())

/data/anaconda/envs/py37torch/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,17,18,29,33,34,35,36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [87]:
df_wiki.instance_of.fillna('[]',inplace=True)
df_wiki['instance_of'] = df_wiki.instance_of.apply(lambda x: set(eval(x)))
df_wiki.head()

,wikidata_id,english_label,instance_of,description_set,alias_dict,nativelabel,population_dict,area,hcounties,date_opening,...,ukrailcode,connectline,connectservice,getty,heritage_designation,ownedby,postal_code,street_located,english_label_lower,description_set_str
0,Q63607865,Kilberry Head,{Q185113},"{'cape in Argyll and Bute, Scotland'}",{'en': ['Kilberry Head']},NaN,{},NaN,['Q652539'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilberry head,"cape in argyll and bute, scotland"
1,Q63759247,Sandhurst Memorial Park,{Q22698},"{'memorial park in Sandhurst, Berkshire'}",{'en': ['Sandhurst Memorial Park']},NaN,{},NaN,['Q67284726'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sandhurst memorial park,"memorial park in sandhurst, berkshire"
2,Q63781193,Currie railway station,{Q55488},"{'railway station in City of Edinburgh, Scotla...",{'en': ['Currie railway station']},NaN,{},NaN,['Q67317221'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,currie railway station,"railway station in city of edinburgh, scotland..."
3,Q63859929,Stannington War Memorial,{Q575759},"{'war memorial in Stannington, Sheffield, Sout...",{'en': ['Stannington War Memorial']},NaN,{},NaN,['Q163'],NaN,...,NaN,NaN,NaN,NaN,Q15700834,NaN,NaN,NaN,stannington war memorial,"war memorial in stannington, sheffield, south ..."
4,Q63860920,2 Darnley Road,{Q3947},{'house in Leeds'},"{'en-gb': ['2 Darnley Road'], 'en': ['2 Darnle...",NaN,{},NaN,['Q163'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,['LS16 5JF'],NaN,2 darnley road,house in leeds

In [88]:
df_wiki.alias_dict.fillna('{}',inplace=True)
df_wiki['alias_dict_en'] = df_wiki.alias_dict.apply(lambda x: ' '.join(eval(x).get('en',[])).lower())
df_wiki.head()

,wikidata_id,english_label,instance_of,description_set,alias_dict,nativelabel,population_dict,area,hcounties,date_opening,...,connectline,connectservice,getty,heritage_designation,ownedby,postal_code,street_located,english_label_lower,description_set_str,alias_dict_en
0,Q63607865,Kilberry Head,{Q185113},"{'cape in Argyll and Bute, Scotland'}",{'en': ['Kilberry Head']},NaN,{},NaN,['Q652539'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kilberry head,"cape in argyll and bute, scotland",kilberry head
1,Q63759247,Sandhurst Memorial Park,{Q22698},"{'memorial park in Sandhurst, Berkshire'}",{'en': ['Sandhurst Memorial Park']},NaN,{},NaN,['Q67284726'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sandhurst memorial park,"memorial park in sandhurst, berkshire",sandhurst memorial park
2,Q63781193,Currie railway station,{Q55488},"{'railway station in City of Edinburgh, Scotla...",{'en': ['Currie railway station']},NaN,{},NaN,['Q67317221'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,currie railway station,"railway station in city of edinburgh, scotland...",currie railway station
3,Q63859929,Stannington War Memorial,{Q575759},"{'war memorial in Stannington, Sheffield, Sout...",{'en': ['Stannington War Memorial']},NaN,{},NaN,['Q163'],NaN,...,NaN,NaN,NaN,Q15700834,NaN,NaN,NaN,stannington war memorial,"war memorial in stannington, sheffield, south ...",stannington war memorial
4,Q63860920,2 Darnley Road,{Q3947},{'house in Leeds'},"{'en-gb': ['2 Darnley Road'], 'en': ['2 Darnle...",NaN,{},NaN,['Q163'],NaN,...,NaN,NaN,NaN,NaN,NaN,['LS16 5JF'],NaN,2 darnley road,house in leeds,2 darnley road

In [89]:
df = pd.read_csv('newspaper_metadata/district_names_with_wiki_final.csv',index_col=0)
df['district_first'] = df.district.apply(lambda x: x.split('-')[0])
df.head()

,original,district,county,wiki_id,district_first,linking_code
0,LONDON,london,london,Q84,london,manual
1,ABERCARN . — ( Monmouthshire . ),abercarn,monmouthshire,Q1868842,abercarn,manual
2,ABERDARE . — ( Glamorganshire . ),aberdare,glamorganshire,Q319369,aberdare,manual
3,ABERGAVENNY . — ( Monmouthshire . ),abergavenny,monmouthshire,Q609161,abergavenny,manual
4,ABERGELE . — ( Denbighshire . ),abergele,denbighshire,Q2771917,abergele,manual

In [90]:
# separate the already linked from the unlinked
df_wo_wiki = df[df.linking_code!='manual']
df_has_wiki = df[df.linking_code=='manual']
print(df_has_wiki.shape,df_wo_wiki.shape)

(174, 6) (955, 6)

In [91]:
# objects used for disambiguating names, these take preference, especially if there is a town
# Q3957: town
# Q2755753: area of London
# Q1115575: civil parish 
# Q1549591: big city
# Q515: city
# Q1637706: city with millions of inhabitants
# Q18511725: market town

# entities that we prefer when multiple candidate are available
wiki_objects = {'Q3957','Q2755753','Q1115575','Q1549591', 'Q18511725','Q515','Q1637706'}
#altnames = {'westmorland':'cumbria','dorsetshire':'dorset'}
# checks if row contains overlap with selected wikidata entities
overlapping_set = lambda x, wiki_objects: True if x.intersection(wiki_objects) else False
# checks if string x contains substring y
contains_string = lambda x, y: True if y in x else False 


for i,row in df_wo_wiki.iterrows():
    

    # firstly we try to find match based on the english label column
    candidates = df_wiki[df_wiki.english_label_lower==row.district]
    
    # if no candidate is found check if place name appears in the string
    if len(candidates) == 0:
        candidates['has_place_string'] = candidates.english_label_lower.apply(contains_string,y=row.district)
        
        candidates_sel = candidates[candidates.has_place_string==True]
        if len(candidates_sel) == 0:
            # check only the first part of the name for compounds like fleetwood-on-...
            candidates_sel = df_wiki[df_wiki.english_label_lower==row.district_first]
            if len(candidates_sel) == 0:
                # if still not found continue
                row.linking_code = 'na_no_match'
                continue
            else:
                candidates = candidates_sel
        else:
            candidates = candidates_sel
    
    # check first if we find just one match for this place name
    if len(candidates) == 1:
        row.wiki_id =  candidates.wikidata_id.values[0]
        row.linking_code = 'unique_match'

    else:
        # if more than one match reduce the candidates to towns etc
        # and check again if there is more than one match
        candidates['has_wiki_object'] = candidates.instance_of.apply(overlapping_set,wiki_objects=wiki_objects)
        candidates['is_town'] = candidates.instance_of.apply(overlapping_set,wiki_objects={'Q3957'})
        candidates_red = candidates[candidates.has_wiki_object==True]
        if len(candidates_red) == 1:
            row.wiki_id =  candidates_red.wikidata_id.values[0]
            row.linking_code = 'unique_wiki_object_match'

        else:
            # check if county name appears in description
            candidates['has_string'] = candidates.description_set_str.apply(contains_string,y=row.county)
            # shorten county name dorsetshire -> dorset
            candidates['has_string'] = candidates.description_set_str.apply(contains_string,y=row.county.rstrip('shire'))
            # reduce county names to those that also contain the county name
            candidates['has_alias'] = candidates.alias_dict_en.apply(contains_string,y=row.county)

            candidates_red = candidates[(candidates.has_string==True)| (candidates.has_alias==True)]
            if len(candidates_red) == 0:
                row.linking_code = 'na_no_entity_match'
            elif len(candidates_red) == 1:
                row.wiki_id =  candidates_red.wikidata_id.values[0]
                row.linking_code = 'unique_county_match'
            else:
                # if still more than one cadidate restrict to both entities and county name overlap
                candidates_red = candidates[(candidates.has_wiki_object==True) & (candidates.has_string==True)]
                if  len(candidates_red) == 1:
                    row.wiki_id =  candidates_red.wikidata_id.values[0]
                    row.linking_code = 'unique_county_wiki_object_match'

                else: 
                    # if multiple candidates prefer towns
                    candidates_red = candidates[(candidates.is_town==True) & (candidates.has_string==True)]
                    if  len(candidates_red) == 1:
                        row.wiki_id =  candidates_red.wikidata_id.values[0]
                        row.linking_code = 'unique_town_wiki_object_match'
                    else:
                        row.wiki_id = 'na_no_match_at_close'

/data/anaconda/envs/py37torch/lib/python3.7/site-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/data/anaconda/envs/py37torch/lib/python3.7/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/data/anaconda/envs/py37torch/lib/python3.7/site-packages/ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/data/anaconda/envs/py37torch/lib/python3.7/site-packages/ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/data/anaconda/envs/py37torch/lib/python3.7/site-packages/ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
df_out = pd.concat([df_has_wiki,
        df_wo_wiki[['original','district','county','district_first','linking_code','wiki_id']]])
df_out.shape[0] == df.shape[0]
#df_out.to_csv('newspaper_metadata/district_names_with_wiki_final.csv')

True

# Merge Dataframes

In [2]:
from tools.helpers import insert_wikidata_ids
import pandas as pd

In [3]:
district_authority_file_path = './newspaper_metadata/district_names_with_wiki_final.csv'
npd_path = 'output_data/MPD_export_1846_1920.csv'
wikidata_gazetter_path = 'newspaper_metadata/british_isles_gazetteer.csv'

npd = insert_wikidata_ids(npd_path,district_authority_file_path,wikidata_gazetter_path)

/data/anaconda/envs/py37torch/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (5,17,18,29,33,34,35,36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
Adding these to wikidata gazetteer
{'Q104332506', 'Q1011096', 'Q7194082', 'Q104327315'}
(43361, 18) (43380, 28)

In [4]:
npd[npd.wikidata_id=='Q104332506'].latitude

Series([], Name: latitude, dtype: float64)

In [5]:
for e in [['Q1011096',51.2225, 1.4017],
        ['Q104327315',53.922622,-7.864148 ],
        ['Q104332506', 53.617882, -9.236175],
        ['Q7194082',53.5933, 2.2966]]:
        w,lat,lon = e
        npd[npd.wikidata_id==w].latitude = lat
        npd[npd.wikidata_id==w].longitude = lon

In [6]:
npd.to_csv('output_data/MPD_export_1846_1920_geo_coded.csv')

# Write for visualisation

In [4]:
import pandas as pd
from pathlib import Path

In [5]:
npd = pd.read_csv('output_data/MPD_export_1846_1920_geo_coded.csv',index_col=0)

In [6]:
npd_prov = npd[npd.CATEGORY.isin(['welsh','provincial','scottish','irish'])]
npd_prov.columns

Index(['id', 'S-TITLE', 'S-POL', 'CATEGORY', 'DISTRICT', 'DISTRICT_PUB',
       'COUNTY', 'S-PRICE', 'D-EST', 'D-PUB', 'E-LOC', 'E-ORG', 'E-PER',
       'S-TITLE-ALT', 'TEXT', 'DISTRICT_DESCRIPTION', 'year', 'chain_id',
       'original', 'district', 'county', 'wiki_id', 'district_first',
       'linking_code', 'wikidata_id', 'latitude', 'longitude', 'hcounties'],
      dtype='object')

In [17]:
pol_out = []
for i,row in npd_prov[~npd_prov['S-POL'].isna()].iterrows():
    pol_labels = row['S-POL'].split(';')
    for pl in pol_labels:
        pol_out.append((pl.strip(),row.year,row.DISTRICT,row.latitude,row.longitude))

In [18]:
out_path = Path('output_visualisation')
out_path.mkdir(exist_ok=True)
df_pol = pd.DataFrame(pol_out,columns=['pol_label','year','DISTRICT','latitude','longitude'])#.to_csv(out_path / 
df_pol.head()

,pol_label,year,DISTRICT,latitude,longitude
0,liberal,1846,aylesbury . — ( buckinghamshire . ),51.816800,-0.812400
1,conservative,1846,aylesbury . — ( buckinghamshire . ),51.816800,-0.812400
2,liberal,1846,aylesbury . — ( buckinghamshire . ),51.816800,-0.812400
3,neutral,1846,banbury . — ( oxfordshire . ),52.061389,-1.339167
4,conservative,1846,barnstaple . — ( devonshire . ),51.082300,-4.048900

In [51]:
df_pol.shape

(33420, 5)

In [78]:
lib = df_pol[df_pol.pol_label=='conservative'].groupby(['year','DISTRICT'])['pol_label'].count()
total = df_pol.groupby(['year','DISTRICT'])['pol_label'].count()
ratio = lib / total

In [79]:
ratio.fillna(.0,inplace = True)

In [80]:
ratio.shape

(14626,)

In [81]:
df_merged = pd.concat([ratio,total],axis=1).reset_index()
df_merged

,year,DISTRICT,pol_label,pol_label
0,1846,aberdeen . — ( aberdeenshire . ),0.20,5
1,1846,achill . — ( in the province of connaught and ...,1.00,1
2,1846,arbroath . — ( forfarshire . ),0.00,1
3,1846,armagh. — ( in the province of ulster and the ...,1.00,1
4,1846,athlone . — ( in the province of leinster and ...,1.00,1
...,...,...,...,...
14621,1920,wrexham . — ( denbighshire . ),0.25,4
14622,1920,wycombe . — ( buckinghamshire . ),0.00,1
14623,1920,yarmouth . — ( norfolk . ),0.00,3
14624,1920,yeovil . — ( somersetshire . ),0.00,3
14625,1920,york . — ( yorkshire . ),0.00,3

In [82]:
df_merged = df_merged.merge(df_pol[['DISTRICT','latitude','longitude']].drop_duplicates(),left_on=['DISTRICT'],right_on=['DISTRICT'],how='left')
print(df_merged.shape)
df_merged.head()

(14626, 6)

,year,DISTRICT,pol_label,pol_label,latitude,longitude
0,1846,aberdeen . — ( aberdeenshire . ),0.2,5,57.150000,-2.100000
1,1846,achill . — ( in the province of connaught and ...,1.0,1,53.958889,-10.038889
2,1846,arbroath . — ( forfarshire . ),0.0,1,56.561386,-2.585706
3,1846,armagh. — ( in the province of ulster and the ...,1.0,1,54.349444,-6.654444
4,1846,athlone . — ( in the province of leinster and ...,1.0,1,53.423611,-7.942500

In [83]:
df_merged.columns = ['year','DISTRICT','ratio','count','latitude','longitude']
df_merged.to_csv(out_path / 'pol_con_landscape.csv')

In [49]:
df_merged.head()

,pol_label_x,year,DISTRICT,latitude,longitude,pol_label_y,pol_label
0,liberal,1846,aylesbury . — ( buckinghamshire . ),51.8168,-0.8124,0.666667,2
1,conservative,1846,aylesbury . — ( buckinghamshire . ),51.8168,-0.8124,0.666667,2
2,liberal,1846,aylesbury . — ( buckinghamshire . ),51.8168,-0.8124,0.666667,2
3,conservative,1846,barnstaple . — ( devonshire . ),51.0823,-4.0489,0.500000,1
4,liberal,1846,barnstaple . — ( devonshire . ),51.0823,-4.0489,0.500000,1